<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Asclepione.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E537789E27B2DE0A00AFE512</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E53778AE27B2DE0C00AFE512</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E53778B827B2DE0C00AFE512</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
